.user-list-wrapper {
  display: flex;
  justify-content: center;
  height: 75vh;
  overflow-y: auto;
}

.user-list {
  width: 70%;
  flex-direction: column;
  display: flex;
  grid-gap: 10px;
  margin-top: 10px;
}
.user-list-container {
  text-align: center;
}

.user-list-container .btn {
  margin-top: 15px;
  outline: none;
  padding: 0.3em 1.2em;
  font-size: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 300;
  background: #333;
  color: white;
}
.user-list-container .btn:hover {
  background: rgb(43, 43, 43);
}
