.App {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  background-image: radial-gradient(rgb(116, 88, 141) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
.container {
  background-color: white;
  border-radius: 2em;
  position: relative;
  width: 90%;
  height: 92%;
  padding: 20px;
  display: grid;
  grid-template-rows: 55px auto;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
