.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.user .btn {
  outline: none;
  padding: 0.3em;
  font-size: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  text-decoration: none;
  background: #333;
  color: white;
}
.user .btn:hover {
  background: rgb(43, 43, 43);
}

.user .buttons {
  display: flex;
  grid-gap: 10px;
}
