.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header img {
  width: 50px;
  height: 50px;
}

.header-user-avatar img {
  border-radius: 50%;
}

.header .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .user-name {
  font-size: 20px;
  margin-left: 10px;
}

.header .routes-button {
  display: flex;
  grid-gap: 10px;
}
