.message-input {
  width: 100%;
}

.message-input-text {
  padding: 5px;
  width: 85%;
}

.message-input-content {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  position: relative;
}

.message-input-button {
  padding: 7px 20px;
  border: none;
  background: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.message-input-button:hover {
  opacity: 0.9;
}

.message-input input:focus {
  border: none;
  box-shadow: none;
}
