.message-user-avatar img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.main-mess-info .message-user-name {
  font-size: x-large;
  color: #d59e7d;
}

.main-mess-info .message-time {
  font-size: small;
  color: #bbb;
  text-align: end;
  margin-top: 5px;
}

.message {
  width: inherit;
  display: grid;
  grid-template-columns: 60px auto;
}

.message .main-mess-info {
  background-color: rgb(55, 42, 59);
  margin-bottom: 5px;
  border-radius: 1em;
  color: white;
  overflow-wrap: anywhere;
  width: 200px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.message-like,
.message-liked {
  background: transparent;
  border: none;
}

.message-like img,
.message-liked img {
  width: 25px;
  height: 25px;
}

.message-header {
  display: flex;
  justify-content: space-between;
}
