.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .error {
  color: rgb(223, 65, 65);
  font-size: 20px;
  text-align: center;
}

.login-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  margin-bottom: 55px;
}

.login .input-title {
  font-size: 20px;
}

.login .input {
  padding: 10px;
  font-size: 20px;
}

.login .btn {
  margin-top: 15px;
  outline: none;
  padding: 0.3em 1.2em;
  font-size: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 300;
  background: #333;
  color: white;
}
.login .btn:hover {
  background: rgb(43, 43, 43);
}
