.message-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}

.message-edit-buttons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin: 20px;
  grid-gap: 10px;
}

.edit-message-textarea {
  width: 50%;
  height: 30%;
  resize: none;
  font-family: inherit;
}

.message-edit-container .btn {
  margin-top: 15px;
  outline: none;
  padding: 0.3em 1.2em;
  font-size: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 300;
  background: #333;
  color: white;
}
.message-edit-container .btn:hover {
  background: rgb(43, 43, 43);
}
