.user-editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}
.user-editor {
  width: 30%;
}
.user-editor-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 20px;
  grid-gap: 10px;
}

.user-editor-buttons .btn {
  outline: none;
  padding: 0.3em 1.2em;
  font-size: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 300;
  background: #333;
  color: white;
}
.user-editor-buttons .btn:hover {
  background: rgb(43, 43, 43);
}
.user-editor-container .input {
  padding: 10px;
  font-size: 20px;
  width: 99%;
  margin-bottom: 15px;
}
.user-editor-container .input-title {
  font-size: 20px;
  margin-bottom: 10px;
}
